<nav>
  <div class="container">
    <div class="list">
      <div class="logo">
        <h1>DarkMovies</h1>
      </div>
      <div class="categories">
        <p>Movies</p>
        <p>TV Shows</p>
        <p>People</p>
        <p>More</p>
      </div>
    </div>
    <div class="auth">
      <i class="fa-solid fa-plus"></i>
      <div class="lang">
        <p>EN</p>
      </div>
      <p>Login</p>
      <p>Join Us</p>
      <i class="fa-solid fa-magnifying-glass"></i>
    </div>
  </div>
</nav>
